*{box-sizing:border-box;}
body{
    margin:0;
}
.parent{
    background-color: grey;
    padding: 50px;
    margin:0 auto;
    /* width: 900px; */
}
.child{
    background-color: aqua;
    height: 250px;
}